<h1>Songs#edit</h1>
<%= form_with model: @song do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
@song #=> <#Song: id: 18, title: "Hey jude", year: 1968, category: "rock">
  <form action="/songs/18" method="patch">
    <input type="text" name="song[title]" value="Hey jude"/>
    <input type="submit" value="Update song"/>
  </form>
